
$BackgroundA: #F4F8FB;
$BackgroundB: #E7EEF3;
$BackgroundG: #EAF3FD;
$BackgroundD: #C9D9EA;
$BackgroundE: #9EB3C9;
$BackgroundF: #697F90;
$BackgroundG: #4B6477;

$TertiaryA: #8DC033;
$TertiaryB: #73AB1A; 
$TertiaryC: #599300; 
$TertiaryD: #226F0D;

$SecondaryA: #338DC0;
$SecondaryB: #1A73AB;
$SecondaryC: #005993;
$SecondaryD: #0D226F;

$PrimaryA: #C0338D;
$PrimaryB: #AB1A73;
$PrimaryC: #930059;
$PrimaryD: #6F0D22;

$White: #FFFFFF;
$Grey: #A8B9C6;
$Black: #000000;

$DangerSecondary: #FFB8C2;
$DangerPrimary: #D44333;

$SuccesSecondary: #B3FFD0;
$SuccesPrimary: #21A453;

$WarningSecondary: #FFDFA1;
$WarningPrimary: #C19132;



